<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.countdown2binge.refresh</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>pt-BR</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>ar</string>
		<string>ru</string>
		<string>tr</string>
		<string>pl</string>
		<string>nl</string>
		<string>th</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>tiktok</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awaamb61lpsdlx76</string>
			</array>
		</dict>
	</array>
	<key>TikTokClientKey</key>
	<string>awaamb61lpsdlx76</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>netflix</string>
		<string>aiv</string>
		<string>disneyplus</string>
		<string>hulu</string>
		<string>hbomax</string>
		<string>paramountplus</string>
		<string>peacock</string>
		<string>starz</string>
		<string>showtime</string>
		<string>amcplus</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>snssdk1233</string>
		<string>snssdk1180</string>
		<string>tiktoksharesdk</string>
		<string>tiktokopensdk</string>
		<string>tiktok</string>
		<string>twitter</string>
		<string>x</string>
		<string>photos-redirect</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Countdown2Binge saves your binge card to Photos so you can post it to Instagram, TikTok or X.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
