<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
		<string>pt-BR</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>zh-Hans</string>
		<string>ar</string>
		<string>ru</string>
		<string>tr</string>
		<string>pl</string>
		<string>nl</string>
		<string>th</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Countdown2Binge uses your camera to take a profile photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Countdown2Binge accesses your photo library to choose a profile photo.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>netflix</string>
		<string>aiv</string>
		<string>disneyplus</string>
		<string>hulu</string>
		<string>hbomax</string>
		<string>paramountplus</string>
		<string>peacock</string>
		<string>starz</string>
		<string>showtime</string>
		<string>amcplus</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.countdown2binge.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
